<p>page2 works!</p>
<div class="main-block" style="display:flex; align-items: center;">
    <div class="left-part">
      <i class="fas fa-envelope"></i>
      <i class="fas fa-at"></i>
      <i class="fas fa-mail-bulk"></i>
    </div>
    <form action="/">
      <h1 class="pre-scrollable   col-md-push-6">Contact Us</h1>
      <div class="info">
        <input class="fname" type="text" name="name" placeholder="Full name">
        <input type="text" name="name" placeholder="Email">
        <input type="text" name="name" placeholder="Phone number">
        <input type="text" name="name" placeholder="Website">
      </div>
      <p>Message</p>
      <div>
        <textarea rows="4"></textarea>
      </div>
      <button  type="submit" href="/">Submit</button>
    </form>
  </div>

  <br>
  <br>
  <br>


  
